{% extends 'base.html.twig' %}

{% block body %}
    <h1>Horario list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Horasalida</th>
                <th>Lugardesalida</th>
                <th>Horallegada</th>
                <th>Lugardellegada</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for horario in horarios %}
            <tr>
                <td><a href="{{ path('horario_show', { 'id': horario.id }) }}">{{ horario.id }}</a></td>
                <td>{% if horario.horaSalida %}{{ horario.horaSalida|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ horario.lugarDeSalida }}</td>
                <td>{% if horario.horaLlegada %}{{ horario.horaLlegada|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ horario.lugarDeLlegada }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('horario_show', { 'id': horario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('horario_edit', { 'id': horario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('horario_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
